<div class="cta-wrapper">
            <div data-w-id="5f5cf5a6-514c-8834-726f-ae52577d06d9" class="card cta-right"><img src="{{ images.-3b4a6a2.url }}" width="194" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;61vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;194px&quot;}]" alt="{{ images.-3b4a6a2.alt | trim | escape }}" class="cta-icon">
              <h3 class="heading-4">{{ texts.-11171e8e }}</h3>
              <p class="paragraph cta-card">{{ texts.-70f45d82 }}</p>
              <a href="{{ links.2b59f15c }}" target="_blank" class="button-secondary small w-button">{{ texts.4ef881cd }}</a>
            </div>
          </div>