<footer class="footer">
    <div class="container-default"></div>
    <div class="container-default w-container">
      <div class="footer-links-block">
        <div data-w-id="023a6170-7122-04ed-a202-4ec177e11e0c" class="links-block main">
          <div class="footer-main-content-wrapper">
            <a href="{{ links.2f }}" class="footer-logo-link w-nav-brand"><img src="{{ images.4b67db8c.url }}" data-sizes="[{&quot;max&quot;:767,&quot;size&quot;:&quot;90vw&quot;},{&quot;max&quot;:991,&quot;size&quot;:&quot;46vw&quot;},{&quot;max&quot;:1279,&quot;size&quot;:&quot;28vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;350.316650390625px&quot;}]" sizes="(max-width: 767px) 90vw, (max-width: 991px) 46vw, (max-width: 1279px) 28vw, 350.316650390625px" alt="{{ images.4b67db8c.alt | trim | escape }}" class="footer-logo"></a>
            <div class="paragraph footer-paragraph">{{ texts.-102df13d }}</div>
          </div>
        </div>
        <div class="footer-newsletter w-form">
          <form id="email-form" name="email-form" data-name="email" method="get" class="form-newsletter-footer" data-netlify="true" data-ajax="true" data-content-type="application/x-www-form-urlencoded"><input type="email" class="input newsletter-footer w-input" maxlength="256" name="email" data-name="Email" placeholder="Enter your email" id="email" required=""><input type="submit" value="Subscribe" data-wait="Please wait..." class="button-primary w-button"></form>
          <div class="success-message small w-form-done">
            <div>{{ texts.2a1890a8 }}</div>
          </div>
          <div class="error-message w-form-fail">
            <div>{{ texts.5e8b37c5 }}</div>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div data-w-id="76e23003-b36a-b2b3-1f13-1b4ed6878e9d" class="small-print-wrapper">
        <ul role="list" class="list">
          <li class="list-item">
            <a href="{{ links.-41c194fe }}" class="link">{{ texts.35ee8e37 }}<span>{{ texts.18181 }}</span></a>
          </li>
          <li class="list-item-2">
            <a href="{{ links.-2523a8cb }}" class="link">{{ texts.-3df587c }}</a>
          </li>
        </ul>
        <div class="w-layout-grid footer-social-media-grid">
          <a href="{{ links.1750dc24 }}" target="_blank" class="social-media-link w-inline-block"><img src="{{ images.524c9c99.url }}" alt="{{ images.524c9c99.alt | trim | escape }}"></a>
          <a href="{{ links.636eb9b8 }}" target="_blank" class="social-media-link w-inline-block"><img src="{{ images.5ee5921a.url }}" alt="{{ images.5ee5921a.alt | trim | escape }}"></a>
          <a href="{{ links.b979dd0 }}" target="_blank" class="social-media-link w-inline-block"><img src="{{ images.6b7e879b.url }}" alt="{{ images.6b7e879b.alt | trim | escape }}"></a>
        </div>
        <div>{{ texts.7198c32d }}</div>
      </div>
    </div>
  </footer>