<footer id="footer" class="footer-2 wf-section">
      <div class="w-container">
        <div class="footer-flex-container">
          <a href="{{ links.23 }}" class="footer-logo-link-2"><img src="{{ images.22d9bc5.url }}" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;42vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;60px&quot;}]" alt="{{ images.22d9bc5.alt | trim | escape }}" class="footer-image"></a>
          <div class="div-block-2">
            <h2 class="footer-heading">{{ texts.7f2746de }}</h2>
            <ul role="list" class="w-list-unstyled">
              <li>
                <a href="{{ links.-2523a8cb }}" class="footer-link-2">{{ texts.-3df587c }}</a>
              </li>
              <li>
                <a href="{{ links.4654783f }}" class="footer-link-2">{{ texts.-221aa4d9 }}</a>
                <a href="{{ links.2b59f15c }}" class="footer-link-2">{{ texts.-11171e8e }}</a>
              </li>
            </ul>
          </div>
        </div>
        <div>{{ texts.-77e8aa5c }}</div>
      </div>
    </footer>